<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ingredient list</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">List of Ingredients</h1>
                </div>
                <div class="panel-body">
                    <div>
                        <a class="btn btn-success mb-2" href="#"
                           th:href="@{'/recipe/'+${recipe.id}+'/ingredient/new'}">Add Ingredient</a>
                    </div>
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td><a href="#">123</a></td>
                                <td>Tasty Goodnees 1</td>
                                <td><a href="#">Update</a> | <a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td><a href="#">12333</a></td>
                                <td>Tasty Goodnees 2</td>
                                <td><a href="#">Update</a> | <a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="ingredient : ${recipe.ingredients}">
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}"
                                       th:text="${ingredient.id}">334</a>
                                </td>
                                <td th:text="${ingredient.amount} + ' ' + ${ingredient.unitOfMeasureCommand.description} + ' ' + ${ingredient.description}">
                                    Tasty Goodnees 3
                                </td>
                                <td><a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a> |
                                    <a href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-success mb-2" href="#"
                           th:href="@{'/'}">Back to recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.js}"></script>
</body>
</html>